.topbar-container {
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  min-width: 100%;
  z-index: 1;
  background-color: #ffffff;
}

.topbar {
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-slogan {
  display: flex;
  align-items: center;
  gap: 8px;
}

.code-link {
  display: flex;
  align-items: center;
}

.notifications {
  padding-top: 8px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1216px;
  position: sticky;
  top: 65px;
  z-index: 1;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1216px;
  padding: 32px 16px 16px 16px;
}

@media screen and (max-width: 520px) {
  .code-link {
    display: none;
  }
}